 .titulo{
    color: pink; /* pontos e para classe e # e para id*/
    display: none; /* faz as tag sumir do site*/
}

.table-data{
    color: aliceblue;
}

#caiotas{
    color: aqua;
}

span{
    display:block; /* isso faz a tag do html fica embaixo da outra */
}

h1{
    margin: 0;
    margin-top: 0;
    margin-left: 16px;
    margin-right: 16px; */
    margim: 8px 16px 8px 16px;
    border: 1px chocolate
} 

/* reseta a margim e o padding  um projeto
usar o *{ colocar margim:0
           padding:0}*/

.titulo-verde{
    color:green;
}

.frase-vermelha{
    display:inline;
    background-color: red;
    margin-right: 8px;
    padding: 4px;
}

.frase-laranja{
    display:inline;
    background-color: orange;
    margin: 0 0 0 8x
    padding:4px
    color:yellow;

}

p{
    display:inline;
}


#botao{
    background-color: blue;
    border:1px color:black;
    margin: 5x;
    padding: 5px;
    color:white;
}

#desaparece{
   display: none;
}
