h1{   // dessa forma não é especifica
      color: red;
}
.titulo-vermelho{  /* class é mais específico*/
    color: pink;
}

h2{
    color: green; /*esse h2 vai ficar verde porque não tem prioridade,
    ele é meio geral;*/
}
#titulo-laranga{
    color: orange;
}