*{
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    

}
.cabecalho {
    width: 100%; 
    background-color: rgb(219, 127, 6);
    display: grid;
    grid-template-columns: 1fr 150px;
  

}
img{
    width: 150px;
}


.cabecalho > h1{
    margin-top: 30px;
}

.logo{
    width: 100%; 
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  
}

    



.imagem{
    width: 150px;
}
 
.video{
  width:150px;
}
.videos{
   width: 150px;
}

.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px rgba(50, 50, 50, 0.22 );
    right: 80px;
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 50vh);
    gap: 0.5rem;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
  
}

footer{
    background-color:rgb(219, 127, 6); 
     
    text-align: center;
}

@media screen and (max-width:800px){
    .card{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    }
    
    @media screen and (max-width:600px){
        .começo{
            height: 80px;
            display: grid;
        }
    }